* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

#pdf {
  user-select: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

#multiple {
  border: 1px dotted #000;
  position: absolute;
  background-color: rgba(222, 222, 255, 0.3);
  position: absolute;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
input {
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  background: #0f74a5;
  color: white;
  padding: 3px;
  width: 12px;
  height: 12px;
  border: none;
  text-align: center;
  font-size: 12px;
}

.selected {
  border: 1px solid black;
}

.visual-container {
  z-index: 1;
  position: absolute;
}

/* #w-space {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-content: center;
} */


